<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.db_cibdoConnectionString"
            connectionString="Data Source=ESCOBAR\JHON;Initial Catalog=db_cibdo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.db_cibdoConnectionString1"
            connectionString="Data Source=P7AULA4-PC06;Initial Catalog=db_cibdo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.db_cibdoConnectionString2"
            connectionString="Data Source=ESCOBAR;Initial Catalog=db_cibdo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>